<html>
{% block header %}
    {% include 'base.twig' %}
{% endblock %}
<head>
    <h1>Login</h1>

</head>
<body>
<form action="/?page=login" method="POST">


    <label for="password">Password:</label>
    <input type="text" id="password" name="password" value="{{ errors ? password|default('') }}">

    {% if errors.passwordError %}
        <div class="error">{{ errors.passwordError }}</div>
    {% endif %}

    <br><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="{{ errors? email|default('') }}">

    {% if errors.emailEmptyError %}
        <div class="error">{{ errors.emailEmptyError }}</div>
    {% endif %}
    {% if errors.emailError %}
        <div class="error">{{ errors.emailError }}</div>
    {% endif %}

    <br><br>

    <input type="submit" value="login" name="loginButton" id="login">
    <br>
    <a href="/register.php" > No Account Login page yet?</a>   <a href="/index.php" > Index </a><br>
</form>


</body>
</html>