<html lang="DE">
{% block header %}
    {% include 'base.twig' %}
{% endblock %}
<h1>{{ playerName }}</h1>
<ul>
    <li>{{ playerData.position }}</li>
    <li>{{ playerData.dateOfBirth }}</li>
    <li>{{ playerData.nationality }}</li>
    <li>{{ playerData.shirtNumber }}</li>
</ul>

</html>