<html>
<body>

<form action="/?page=register" method="POST">
    <label for="fName">First name:</label>
    <input type="text" id="fName" name="fName" value="{{ errors ? userDto.firstName|default('') }}">

    {% if errors.firstNameEmptyError %}
        <div class="error">{{ errors.firstNameEmptyError }}</div>
    {% endif %}

    <br><br>

    <label for="lName">Last name:</label>
    <input type="text" id="lName" name="lName" value="{{ errors? userDto.lastName|default('') }}">

    {% if errors.lastNameEmptyError %}
        <div class="error">{{ errors.lastNameEmptyError }}</div>
    {% endif %}

    <br><br>

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" value="{{ errors ? userDto.password|default('') }}">

    {% if errors.passwordError %}
        <div class="error">{{ errors.passwordError }}</div>
    {% endif %}

    <br><br>



    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="{{ errors? userDto.email|default('') }}">
    {% if errors.emailError %}
        <div class="error">{{ errors.emailError }}</div>
    {% endif %}

    <br><br>

    <input type="submit" value="push" name="registerMe" id="push">

    <a href="/index.php/?page=login" >Login</a>
</form>


</body>
</html>
