<html>
{% block header %}
    {% include 'base.twig' %}
{% endblock %}
<form action="" method="POST">
    {% if players is not empty %}
    <h1>Team: {{ players.teamName }}

        {% if status %}
            {% if favoriteStatus %}
                <button type="submit" value="{{ players.teamID }}" name="delete">delete</button>
            {% else %}
                <button type="submit" value="{{ players.teamID }}" name="add">add</button>
            {% endif %}
        {% endif %}
    </h1>

    <ul>

        {% for player in players.squad %}


            <li><a href="{{ player.link }}">{{ player.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}

    <h1> Page not found return to homepage</h1>
        <a href="/">Index</a>
    {% endif %}
</form>

</html>

